## READ in Files from GitHub

In [31]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import requests
import io

In [35]:
# Gift Data File Path to GitHub

gifturl = "https://raw.githubusercontent.com/NicoleWittlin/APRA-DataViz-Challenge/master/giving_data_table.csv"
download = requests.get(gifturl).content
giftdata = pd.read_csv(io.StringIO(download.decode("utf-8")))

In [3]:
# Bio Data File Path to GitHub

biourl = "https://raw.githubusercontent.com/NicoleWittlin/APRA-DataViz-Challenge/master/bio_data_table.csv"
download = requests.get(biourl).content
biodata = pd.read_csv(io.StringIO(download.decode("utf-8")))

In [4]:
# Engagement Data File Path to GitHub

engageurl = "https://raw.githubusercontent.com/NicoleWittlin/APRA-DataViz-Challenge/master/engagement_data_table.csv"
download = requests.get(engageurl).content
engagedata = pd.read_csv(io.StringIO(download.decode("utf-8")))

## Spot Check Data

In [36]:
giftdata.head()

   household ID       ID  gift id  credit Type  gift amt   gift date
0       9662153  8494401  2916764  Soft-Credit       385  2016-10-21
1       2484641  5186919  2916801  Hard-Credit       401  2016-10-21
2       2484641  5929757  2916801  Soft-Credit       401  2016-10-21
3       6982155  7005004  2916813  Hard-Credit       420  2016-10-21
4       6982155  3789171  2916813  Soft-Credit       420  2016-10-21

In [37]:
giftdata.columns

Index(['household ID', 'ID', 'gift id', 'credit Type', 'gift amt',
       'gift date'],
      dtype='object')

In [6]:
biodata.head()

,id,name,household_id,country,city,birthday,deceased,zip,state,lat,lon,capacity,capacity_source,race
0,1581317,"Patterson, Aeneas",4310723,United States,Agawam,1900-01-01,N,1001.0,MA,42.06,-72.61,>$1k,screening,Non-Hispanic white
1,9952781,"Page, Casie",9248960,United States,Agawam,1958-10-20,N,1001.0,MA,42.06,-72.61,$75k - $100k,screening,Non-Hispanic white
2,6170220,"Vasquez, James",9248960,United States,Agawam,1958-03-10,N,1001.0,MA,42.06,-72.61,$75k - $100k,screening,Non-Hispanic white
3,2012013,"Garcia, Dezmenn",4731003,United States,Amherst,1940-07-20,Y,1002.0,MA,42.37,-72.52,$75k - $100k,NaN,Non-Hispanic white
4,1021063,"Riefstahl, Christopher",6094904,United States,Amherst,1982-07-24,N,1002.0,MA,42.37,-72.52,$75k - $100k,institutional,Non-Hispanic white

In [7]:
engagedata.head()

,id,last_contact,numer_of_contacts,gift_officer,event,volunteer,time_on_site,interests
0,1581317,NaN,0.0,NaN,Y,NaN,432.0,"skiing,golf,reading,hunting/fishing"
1,2012013,NaN,8.0,NaN,Y,NaN,NaN,NaN
2,1021063,NaN,0.0,NaN,N,NaN,NaN,hunting/fishing
3,2725629,NaN,NaN,NaN,N,NaN,119.0,NaN
4,1880411,NaN,0.0,NaN,N,NaN,NaN,NaN

## MERGE Data Files: Bio + Engagement

In [8]:
bioengagemerge = pd.merge(biodata, engagedata, on="id", how="left")

In [9]:
bioengagemerge.head()

,id,name,household_id,country,city,birthday,deceased,zip,state,lat,...,capacity,capacity_source,race,last_contact,numer_of_contacts,gift_officer,event,volunteer,time_on_site,interests
0,1581317,"Patterson, Aeneas",4310723,United States,Agawam,1900-01-01,N,1001.0,MA,42.06,...,>$1k,screening,Non-Hispanic white,NaN,0.0,NaN,Y,NaN,432.0,"skiing,golf,reading,hunting/fishing"
1,9952781,"Page, Casie",9248960,United States,Agawam,1958-10-20,N,1001.0,MA,42.06,...,$75k - $100k,screening,Non-Hispanic white,2018-06-16,23.0,NaN,N,NaN,NaN,"cars,wine,food/dining/cooking"
2,6170220,"Vasquez, James",9248960,United States,Agawam,1958-03-10,N,1001.0,MA,42.06,...,$75k - $100k,screening,Non-Hispanic white,2020-02-03,15.0,NaN,N,NaN,NaN,"golf,reading"
3,2012013,"Garcia, Dezmenn",4731003,United States,Amherst,1940-07-20,Y,1002.0,MA,42.37,...,$75k - $100k,NaN,Non-Hispanic white,NaN,8.0,NaN,Y,NaN,NaN,NaN
4,1021063,"Riefstahl, Christopher",6094904,United States,Amherst,1982-07-24,N,1002.0,MA,42.37,...,$75k - $100k,institutional,Non-Hispanic white,NaN,0.0,NaN,N,NaN,NaN,hunting/fishing

In [10]:
bioengagemerge.tail()

,id,name,household_id,country,city,birthday,deceased,zip,state,lat,...,capacity,capacity_source,race,last_contact,numer_of_contacts,gift_officer,event,volunteer,time_on_site,interests
99995,6477965,"Mellon, Aaron",1921919,Russia,Saint Petersburg,1967-03-27,N,NaN,NaN,NaN,...,$50k - $75K,screening,Non-Hispanic white,NaN,11.0,NaN,N,NaN,NaN,"sports,food/dining/cooking"
99996,4608102,"Garman, Mirza",1922047,Russia,Saint Petersburg,1982-06-24,N,NaN,NaN,NaN,...,$5k - $10k,institutional,Non-Hispanic white,2019-01-03,NaN,NaN,Y,NaN,NaN,"fashion,sports,hunting/fishing,cars"
99997,4577636,"el-Atallah, Faadi",1922047,Russia,Saint Petersburg,1979-11-22,N,NaN,NaN,NaN,...,$5k - $10k,screening,Asian,NaN,6.0,NaN,N,NaN,NaN,NaN
99998,8971611,"Ponce, Jessica",1922075,Russia,Saint Petersburg,1966-01-21,N,NaN,NaN,NaN,...,$250k - $500k,screening,Non-Hispanic white,2017-04-08,18.0,NaN,Y,NaN,NaN,"boating/sailing,cars,sports"
99999,5138178,"Cochran, Abren",1922075,Russia,Saint Petersburg,1963-12-20,N,NaN,NaN,NaN,...,$250k - $500k,institutional,Non-Hispanic white,2017-02-19,15.0,NaN,N,NaN,159.0,NaN

In [12]:
bioengagemerge.columns

Index(['id', 'name', 'household_id', 'country', 'city', 'birthday', 'deceased',
       'zip', 'state', 'lat', 'lon', 'capacity', 'capacity_source', 'race',
       'last_contact', 'numer_of_contacts', 'gift_officer', 'event',
       'volunteer', 'time_on_site', 'interests'],
      dtype='object')

In [18]:
bioengagemerge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100000 entries, 0 to 99999
Data columns (total 21 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   id                 100000 non-null  int64
 1   name               100000 non-null  object
 2   household_id       100000 non-null  int64
 3   country            100000 non-null  object
 4   city               100000 non-null  object
 5   birthday           90000 non-null   object
 6   deceased           90000 non-null   object
 7   zip                90000 non-null   float64
 8   state              90000 non-null   object
 9   lat                90000 non-null   float64
 10  lon                90000 non-null   float64
 11  capacity           90000 non-null   object
 12  capacity_source    90000 non-null   object
 13  race               100000 non-null  object
 14  last_contact       63634 non-null   object
 15  numer_of_contacts  83801 non-null   float64
 16  gift_officer       3589 non-null    object
 17  event              90002 non-null   object
 18  volunteer          8969 non-null    float64
 19  time_on_site       20002 non-null   float64
 20  interests          63801 non-null   object
dtypes: float64(6), int64(2), object(13)
memory usage: 16.8+ MB

In [20]:
bioengagemerge.deceased.value_counts()

N    79902
Y    10098
Name: deceased, dtype: int64

In [13]:
bioengagemerge.country.value_counts()

United States    90000
China             5000
India              800
Pakistan           600
Nigeria            600
Indonesia          600
Brazil             600
Russia             600
Bangladesh         600
Mexico             600
Name: country, dtype: int64

In [14]:
bioengagemerge.gift_officer.value_counts()

el-Sawaya, Waseema    208
Yang, Andrew          197
al-Salim, Hamdaan     196
Walter, Dianna        191
Estrada, Jorge        189
Masters, Deisha       188
Kim, Felicia          184
al-Mourad, Haajid     183
al-Salem, Ma,Roof     181
Topper, Kyle          180
al-Jaffer, Awda       178
Tolbert, Yekalo       178
Bowyer, Ryan          178
Varelas, Michael      174
Porras, Marisa        173
Ha, John              172
White, Abigail        172
al-Hakeem, Haamid     169
Middleton, Lauren     154
Sanchez, Nohemi       144
Name: gift_officer, dtype: int64

In [17]:
bioengagemerge.interests.value_counts()

boating/sailing                                   978
skiing                                            961
wine                                              947
reading                                           926
art                                               924
                                                 ...
hunting/fishing,wine,art,politics                   1
golf,cars,boating/sailing,art                       1
reading,golf,art,sports,cars                        1
travel,food/dining/cooking,health/exercise,art      1
skiing,politics,art,travel                          1
Name: interests, Length: 24575, dtype: int64

In [21]:
bioengagemerge.describe()

,id,household_id,zip,lat,lon,numer_of_contacts,volunteer,time_on_site
count,1.000000e+05,1.000000e+05,90000.000000,90000.000000,90000.000000,83801.000000,8969.000000,20002.000000
mean,5.504808e+06,5.520820e+06,50228.713744,37.649065,-91.455561,15.153280,0.218642,335.316518
std,2.593475e+06,2.587095e+06,29650.363076,5.203071,16.390225,12.400124,0.413348,236.557722
min,1.000065e+06,1.000399e+06,1001.000000,19.540000,-159.520000,0.000000,0.000000,1.000000
25%,3.264957e+06,3.291076e+06,26847.000000,33.920000,-97.740000,4.000000,0.000000,137.000000
50%,5.501357e+06,5.532263e+06,47106.000000,38.790000,-86.510000,13.000000,0.000000,293.000000
75%,7.746170e+06,7.746223e+06,77515.000000,41.330000,-79.630000,24.000000,0.000000,503.000000
max,9.999979e+06,9.999973e+06,99901.000000,64.900000,-67.110000,50.000000,1.000000,994.000000

In [23]:
from pandas_profiling import ProfileReport

In [28]:
profileBioEngage = ProfileReport(bioengagemerge, minimal=True)
profileBioEngage.to_file(output_file='BioEngageoutput.html')

HBox(children=(FloatProgress(value=0.0, description='variables', max=21.0, style=ProgressStyle(description_wid…

HBox(children=(FloatProgress(value=0.0, description='table', max=1.0, style=ProgressStyle(description_width='i…

HBox(children=(FloatProgress(value=0.0, description='warnings', max=3.0, style=ProgressStyle(description_width…

HBox(children=(FloatProgress(value=0.0, description='package', max=1.0, style=ProgressStyle(description_width=…

HBox(children=(FloatProgress(value=0.0, description='build report structure', max=1.0, style=ProgressStyle(des…

## MERGE Data Files: + Giving Data

In [42]:
giftdata = giftdata.rename(columns={"ID": "id"}, errors="raise")

In [43]:
allmerge = pd.merge(bioengagemerge, giftdata, on="id", how="left")

In [44]:
allmerge.head()

,id,name,household_id,country,city,birthday,deceased,zip,state,lat,...,gift_officer,event,volunteer,time_on_site,interests,household ID,gift id,credit Type,gift amt,gift date
0,1581317,"Patterson, Aeneas",4310723,United States,Agawam,1900-01-01,N,1001.0,MA,42.06,...,NaN,Y,NaN,432.0,"skiing,golf,reading,hunting/fishing",NaN,NaN,NaN,NaN,NaN
1,9952781,"Page, Casie",9248960,United States,Agawam,1958-10-20,N,1001.0,MA,42.06,...,NaN,N,NaN,NaN,"cars,wine,food/dining/cooking",9248960.0,4446713.0,Hard-Credit,1115.0,2017-08-27
2,9952781,"Page, Casie",9248960,United States,Agawam,1958-10-20,N,1001.0,MA,42.06,...,NaN,N,NaN,NaN,"cars,wine,food/dining/cooking",9248960.0,5100812.0,Hard-Credit,833.0,2018-01-06
3,6170220,"Vasquez, James",9248960,United States,Agawam,1958-03-10,N,1001.0,MA,42.06,...,NaN,N,NaN,NaN,"golf,reading",9248960.0,4446713.0,Soft-Credit,1115.0,2017-08-27
4,6170220,"Vasquez, James",9248960,United States,Agawam,1958-03-10,N,1001.0,MA,42.06,...,NaN,N,NaN,NaN,"golf,reading",9248960.0,5100812.0,Soft-Credit,833.0,2018-01-06

In [45]:
allmerge.tail()

,id,name,household_id,country,city,birthday,deceased,zip,state,lat,...,gift_officer,event,volunteer,time_on_site,interests,household ID,gift id,credit Type,gift amt,gift date
398666,5138178,"Cochran, Abren",1922075,Russia,Saint Petersburg,1963-12-20,N,NaN,NaN,NaN,...,NaN,N,NaN,159.0,NaN,1922075.0,5257709.0,Soft-Credit,2819.0,2018-02-06
398667,5138178,"Cochran, Abren",1922075,Russia,Saint Petersburg,1963-12-20,N,NaN,NaN,NaN,...,NaN,N,NaN,159.0,NaN,1922075.0,6587615.0,Soft-Credit,188.0,2018-11-02
398668,5138178,"Cochran, Abren",1922075,Russia,Saint Petersburg,1963-12-20,N,NaN,NaN,NaN,...,NaN,N,NaN,159.0,NaN,1922075.0,7495647.0,Soft-Credit,3015.0,2019-05-04
398669,5138178,"Cochran, Abren",1922075,Russia,Saint Petersburg,1963-12-20,N,NaN,NaN,NaN,...,NaN,N,NaN,159.0,NaN,1922075.0,7766541.0,Soft-Credit,701.0,2019-06-29
398670,5138178,"Cochran, Abren",1922075,Russia,Saint Petersburg,1963-12-20,N,NaN,NaN,NaN,...,NaN,N,NaN,159.0,NaN,1922075.0,9150276.0,Soft-Credit,8647.0,2020-04-06

In [46]:
allmerge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 398671 entries, 0 to 398670
Data columns (total 26 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   id                 398671 non-null  int64
 1   name               398671 non-null  object
 2   household_id       398671 non-null  int64
 3   country            398671 non-null  object
 4   city               398671 non-null  object
 5   birthday           358922 non-null  object
 6   deceased           358595 non-null  object
 7   zip                358559 non-null  float64
 8   state              358559 non-null  object
 9   lat                358559 non-null  float64
 10  lon                358559 non-null  float64
 11  capacity           358929 non-null  object
 12  capacity_source    358848 non-null  object
 13  race               398671 non-null  object
 14  last_contact       287630 non-null  object
 15  numer_of_contacts  352608 non-null  float64
 16  gift_officer       15696 non-null   object
 17  event              358722 non-null  object
 18  volunteer          39107 non-null   float64
 19  time_on_site       79956 non-null   float64
 20  interests          272777 non-null  object
 21  household ID       378001 non-null  float64
 22  gift id            378001 non-null  float64
 23  credit Type        378001 non-null  object
 24  gift amt           378001 non-null  float64
 25  gift date          378001 non-null  object
dtypes: float64(9), int64(2), object(15)
memory usage: 82.1+ MB

In [47]:
allmerge.describe()

,id,household_id,zip,lat,lon,numer_of_contacts,volunteer,time_on_site,household ID,gift id,gift amt
count,3.986710e+05,3.986710e+05,358559.000000,358559.000000,358559.000000,352608.000000,39107.00000,79956.000000,3.780010e+05,3.780010e+05,3.780010e+05
mean,5.507947e+06,5.510363e+06,50139.793788,37.654857,-91.398345,16.784225,0.15519,335.767910,5.509499e+06,6.459635e+06,2.339653e+04
std,2.595124e+06,2.587970e+06,29647.842879,5.217111,16.379210,12.044591,0.36209,237.498558,2.587945e+06,2.043465e+06,1.341687e+05
min,1.000065e+06,1.000399e+06,1001.000000,19.540000,-159.520000,0.000000,0.00000,1.000000,1.000399e+06,2.916764e+06,1.000000e+00
25%,3.257124e+06,3.274852e+06,26167.000000,33.920000,-97.740000,7.000000,0.00000,136.000000,3.272270e+06,4.685898e+06,4.590000e+02
50%,5.506530e+06,5.505880e+06,46947.000000,38.800000,-86.480000,15.000000,0.00000,293.000000,5.503194e+06,6.463612e+06,1.053000e+03
75%,7.754417e+06,7.736964e+06,77474.000000,41.340000,-79.560000,25.000000,0.00000,504.000000,7.736940e+06,8.232541e+06,2.560000e+03
max,9.999979e+06,9.999973e+06,99901.000000,64.900000,-67.110000,50.000000,1.00000,994.000000,9.999973e+06,9.999963e+06,9.901063e+06

In [48]:
profileAll = ProfileReport(allmerge, minimal=True)
profileAll.to_file(output_file='Alloutput.html')

HBox(children=(FloatProgress(value=0.0, description='variables', max=26.0, style=ProgressStyle(description_wid…

HBox(children=(FloatProgress(value=0.0, description='table', max=1.0, style=ProgressStyle(description_width='i…

HBox(children=(FloatProgress(value=0.0, description='warnings', max=3.0, style=ProgressStyle(description_width…

HBox(children=(FloatProgress(value=0.0, description='package', max=1.0, style=ProgressStyle(description_width=…

HBox(children=(FloatProgress(value=0.0, description='build report structure', max=1.0, style=ProgressStyle(des…

In [49]:
## LOOKS LIKE THE $385 GIFT IS MISSING A HARD CREDIT PAIR
allmerge.loc[allmerge['id'] == 8494401]

,id,name,household_id,country,city,birthday,deceased,zip,state,lat,...,gift_officer,event,volunteer,time_on_site,interests,household ID,gift id,credit Type,gift amt,gift date
149831,8494401,"Hildenbrand, Mason",9662153,United States,Cordova,1987-05-08,N,38016.0,TN,35.15,...,NaN,N,NaN,NaN,"boating/sailing,fashion,wine",9662153.0,2916764.0,Soft-Credit,385.0,2016-10-21
149832,8494401,"Hildenbrand, Mason",9662153,United States,Cordova,1987-05-08,N,38016.0,TN,35.15,...,NaN,N,NaN,NaN,"boating/sailing,fashion,wine",9662153.0,6098096.0,Soft-Credit,184031.0,2018-07-25
149833,8494401,"Hildenbrand, Mason",9662153,United States,Cordova,1987-05-08,N,38016.0,TN,35.15,...,NaN,N,NaN,NaN,"boating/sailing,fashion,wine",9662153.0,7178829.0,Soft-Credit,569.0,2019-03-01
149834,8494401,"Hildenbrand, Mason",9662153,United States,Cordova,1987-05-08,N,38016.0,TN,35.15,...,NaN,N,NaN,NaN,"boating/sailing,fashion,wine",9662153.0,9402141.0,Soft-Credit,969.0,2020-05-27

In [50]:
allmerge.loc[allmerge['id'] == 7252527]

,id,name,household_id,country,city,birthday,deceased,zip,state,lat,...,gift_officer,event,volunteer,time_on_site,interests,household ID,gift id,credit Type,gift amt,gift date
149828,7252527,"Fogle, Cheyenne",9662153,United States,Cordova,1986-09-04,N,38016.0,TN,35.15,...,NaN,N,NaN,NaN,"skiing,sports",9662153.0,6098096.0,Hard-Credit,184031.0,2018-07-25
149829,7252527,"Fogle, Cheyenne",9662153,United States,Cordova,1986-09-04,N,38016.0,TN,35.15,...,NaN,N,NaN,NaN,"skiing,sports",9662153.0,7178829.0,Hard-Credit,569.0,2019-03-01
149830,7252527,"Fogle, Cheyenne",9662153,United States,Cordova,1986-09-04,N,38016.0,TN,35.15,...,NaN,N,NaN,NaN,"skiing,sports",9662153.0,9402141.0,Hard-Credit,969.0,2020-05-27